@font-face {
  font-family: AvenirNext;
  src: url(./assets/AvenirNextLTPro-Regular.otf);
}

:root {
  --clr-background: #eceef1;
  --clr-background-white: #ffffff;
  --clr-text-900: #393a3d;
  --clr-text-700: #404040;
  --clr-text-500: #505050;
  --clr-text-200: #8d9096;
  --clr-text-300: #757575;
  --clr-text-placeholder: #000000;
  --clr-border: #c1c5c8;
  --clr-blue: #0077c5;
  --clr-button-text: #ffffff;
  --clr-nav-btn-border: #4c4c4c;
  --button-shadow: #000000bf 0px 1px 1px 0px;
  --ff-sans: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inheret;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-sans);
  font-size: 0.875rem;
  color: var(--clr-text-900);
}

/* Typography */

h1 {
  font-size: 1.5rem;
  line-height: 1.1;
}

label {
  color: var(--clr-text-700);
}

nav {
  color: var(--clr-text-500);
  font-size: 12px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: var(--clr-blue);
}

/********** Body **********/
body {
  background: var(--clr-background);
}
/********** Nav **********/
nav {
  display: flex;
  justify-content: end;
  align-items: flex-start;
  height: 80px;
}

.nav-container {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  margin-top: 0.5rem;
}

.nav-column-left {
  margin-right: 8px;
}
nav button {
  display: flex;
  align-items: center;
  border: 1px solid var(--clr-nav-btn-border);
  padding: 0 1.25rem;
  border-radius: 4px;
  height: 32px;
}
button span {
  margin-right: 6px;
}

/********** Form Header**********/

.form-header {
  margin: auto;
  text-align: center;
}
.header-brand {
  margin: auto;
  background-image: url("./index.png");
  width: 118px;
  height: 35px;
  display: block;
}

.form-header ul {
  margin: 1rem 0;
}

li {
  display: inline;
}

.form-header li a {
  background-image: url("./index.png");
  height: 26px;
  display: inline-block;
  background-position-y: -56px;
}

.mint {
  width: 73px;
  background-position-x: -251px;
}

.quickbooks {
  width: 131px;
  background-position-x: -112px;
}

.turbotax {
  width: 103px;
  background-position-x: 0px;
}
/********** Form **********/

.form-container {
  background: var(--clr-background-white);
  width: 318px;

  display: block;
  margin: auto;
  padding: 30px;
  border: 1px solid var(--clr-border);
  border-radius: 2px;
}

.form-container header {
  text-align: center;
  margin-bottom: 1rem;
}

.subheader {
  padding-top: 20px;
}

form {
  margin-top: 2rem;
  display: block;
}
fieldset {
  border: none;
  margin-bottom: 2rem;
}

input:focus {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(82, 168, 236, 0.6);
}

input {
  padding-left: 8px;
  padding-right: 6px;
  display: block;
  margin-top: 15px;
  width: 304px;
  height: 32px;
  border: 1px solid var(--clr-border);
  border-radius: 3px;
}
.btn-submit {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 320px;
  font-size: 1.2rem;
  padding: 12px 12px;
  border: none;
  border-radius: 3px;
  box-shadow: var(--button-shadow);
}

.terms {
  text-align: center;
  font-size: 12px;

  line-height: 1.5em;
  width: 318px;
}

.captcha {
  text-align: center;
  background: var(--clr-background);
  margin: 32px -30px -30px -30px;
  padding: 16px;
  color: var(--clr-text-200);
  font-size: 10px;
}

/********** Footer **********/

footer {
  margin: 1.5em 0;
  text-align: center;
  font-size: 12px;
  line-height: 1.2rem;
}

.footer-links li {
  display: inline;
  margin: 0 0.5rem;
}

.footer-links a {
  color: var(--clr-text-700);
}
/********** Buttons **********/
button {
  background-color: var(--clr-blue);
  color: var(--clr-button-text);
  cursor: pointer;
}

/********** **********/
